name: test-builds
run-name: Build Qt
on: [push, workflow_dispatch]
jobs:
  clone-and-build-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        run: |
          git clone https://code.qt.io/qt/qt5.git qt6
          cd qt6
          git submodule update --init --recursive
      - name: Build
        run: |
          mkdir $GITHUB_WORKSPACE/qt6-build
          cd $GITHUB_WORKSPACE/qt6-build
          $GITHUB_WORKSPACE/qt6/configure -developer-build -submodules qtbase,qttools
