name: test-builds
run-name: Build Qt Documentation
on: [push, workflow_dispatch]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Fetch dependencies
        run: |
          #apt-cache search libclang
          sudo apt-get install libclang-19-dev clang-19 ninja-build cmake libclang1-19
      - name: Clone the repository
        run: |
          git clone https://code.qt.io/qt/qt5.git qt6
          cd qt6
          git submodule update --init --recursive
      - name: Build
        run: |
          mkdir $GITHUB_WORKSPACE/qt6-build
          cd $GITHUB_WORKSPACE/qt6-build
          $GITHUB_WORKSPACE/qt6/configure -developer-build -submodules qtbase,qttools -no-opengl
          ninja qdoc
          ninja generate_docs
          ls
      - name: Upload GitHub Pages artifacts
        uses: actions/upload-pages-artifact@v0
        with:
          path: doc

  publish:
    needs: build
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

